.right_main ._11ch ._6o {
    font-size: 19px;
}

._6v {
    font-weight: bold;
}

._6o {
    line-height: 126%;
}

._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}

._6wl {
    background: linear-gradient(#67ae55,#578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

._6j {
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin: 0px;
}

