.right_main .gender span ._8esa {
    width: auto;
    height: auto;
}

._2_68._7-1r {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}

._5bb {
    position: relative;
}

.mbs {
    margin-bottom: 5px;
}

.mtm {
    margin-top: 10px;   
}