.right_main ._58mu{
    width: 396px;
}

._58mu ._58mv {
    color: #777;
    font-size: 11px;
    width: 313px;
}

._58mv p {
    margin: 1em 0px;
}

.right_main ._58mu p a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}